db.sqlite3
geckodriver.log
virtualenv
venv
__pychache__
*.pyc
/static
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
site.retry
/deploy_tools/bitbucket
.env
runonce
.directory
deploy_tools/provision.and.deploy.ansible/roles/provision-project-foundation/templates/bitbucket
functional_tests/screendumps
