[Unit]
Description=Gunicorn server for {{ host }}

[Service]
User={{ project.user }}
WorkingDirectory=/home/{{ project.user }}/sites/{{ host }}
Restart=on-failure
EnvironmentFile=/home/{{ project.user }}/sites/{{ host }}/.env

ExecStart=/home/{{ project.user }}/sites/{{ host }}/venv/bin/gunicorn \
    --bind unix:/tmp/{{ host }}.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
