server {
    listen {{ project_port }};
    server_name {{ project_name }};

    location /static {
        alias /home/{{ project.user }}/sites/{{ project_name }}/static;
    }

    location / {
        proxy_set_header Host {{ host }};
        proxy_pass http://unix:/tmp/{{ project_name }}.socket;

    }
}
